/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
  }
  
  app-root {
    display: flex;
    background-image: url('assets/PinkSkyBackground.jpg');
    background-size: cover;
    height: 100vh; /* Full viewport height */
  }
